/* Base styles */
@media (prefers-color-scheme: light) {
  :root {
    /* Default (Light Mode) Tokens */
    --background-color: rgb(209, 209, 209);
    --border-color: #e5e5e5;
    --text-color: #302f2f;
    --active-color: #302f2f;
    --heading-color: var(--text-color);
    --link-color: #3344dd;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Mode Tokens */
    --background-color: #474747;
    --border-color: #363636;
    --text-color: #f5efef;
    --active-color: #302f2f;
    --heading-color: #f5efefe3;
    --link-color: #55a1ff;
  }
}

* {
  user-select: auto;
}

html {
  color-scheme: light dark;
}

body {
  font-family: "Atkinson Hyperlegible", "Helvetica Neue", Arial, sans-serif;
  padding: 1.5rem;
}

/* Links */
a {
  color: currentcolor;
  text-decoration-thickness: 0.08em;
}

a:hover {
  text-decoration: none;
}

/* Focus styles */
:focus-visible {
  outline: 3px solid;
  outline-offset: 0.3ch;
}

/* Text selection */
/* ::selection {
  background-color: var(--color-text);
  color: var(--color-bg);
} */

/* Transitions */
.preload-transitions * {
  transition: none !important;
}

html,
body {
  height: 100%;
  margin: 0;
  color: var(--text-color);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
main,
footer {
  width: 100%;
  max-width: 75ch;
  margin: 0 auto;
  padding: 1rem 0;
}

main {
  flex: 1 0 auto;
}
/* List styles */
ul {
  font-size: var(--step-0);
  line-height: 1.6;
}

ul li {
  font-size: inherit; /* Inherits from parent ul */
}

main ul li {
  margin-bottom: 1.5rem;
  padding: 1rem;
  border: 2px solid var(--border-color);
  border-radius: 8px;
}

footer {
  flex-shrink: 0;
}

footer p {
  font-size: var(--step--1);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  gap: 1rem;
  justify-content: inherit;
  align-items: center;
  width: 100%;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

nav ul li {
  display: flex;
  gap: 1rem;
  font-size: var(--step-0);
}

nav ul li a:hover {
  background-color: var(--border-color);
}

nav li a.active {
  color: var(--text-color);
  font-weight: 700;
  border-bottom: 4px solid var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.3px; /* Adjust spacing */
}

nav li a {
  text-decoration: none;
  padding: 0.5rem;
  text-align: center;
  width: 100px;
  letter-spacing: 0.5px;
}

main h1 {
  padding: 4rem 0 3rem 0;
}

main ul li a {
  text-decoration: none;
}

main ul li a:hover {
  text-decoration: underline;
  text-decoration-skip-ink: all;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

.post-content h1 {
  padding: 0;
  padding-top: 4rem;
  margin: 0;
}

.post-content ul li {
  margin-bottom: 0;
  padding: 0;
  border: unset;
  border-radius: unset;
  list-style-type: disc;
  margin-left: 1rem;
  font-size: inherit;
}

.post-content ul li a {
  font-size: inherit;
  color: var(--link-color);
  text-decoration: underline;
}
