<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <style>{% getBundle "css" %}</style>
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
        <link rel="manifest" href="/assets/images/favicons/site.webmanifest">
    </head>
    <body class="{% if page.url == '/' %}homepage{% else %}default-page{% endif %}">
        <header>
            <nav class="main-top-nav">
                <a href="/" class="logo-link">
                    <img class="logo" src="/assets/images/logo.svg" alt="Tech tales logo">
                </a>
                <ul>
                    {% for item in navigation.items %}
                        <li>
                            <a href="{{ item.url }}" {% if page.url == item.url %} class="active" {% endif %}>
                                {{ item.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </header>
        <main>
            {{ content | safe }}
        </main>
        <footer>
            <p>
                &copy; 2024-2025 built with 11ty and ❤️ by Neer
            </p>
        </footer>
    </body>
</html>